body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width:100%;
    background-color: #4831d4;
  }
  
  .menu-container {
    margin-left: 0;
  }
  .container {
    max-width: 60%;
    margin: 3rem auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align everything */
  }
  
  h2 {
    font-size: 30pt;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left; /* Reset text-align for labels and inputs */
  }
  
  label {
    display: block;
    font-size: 20pt;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  #confirmation {
    width: 100%;
    justify-content: center;
    padding: 30px 0;
    border-radius: 10px;
    text-align: center;
    background-color: greenyellow;
  }

  input, textarea {
    font-size: 20px;
  }

  #confirmation p {
    font-size: 20px;
  }
